%section.intro
  %h1 Edit this centre

%section
  .inner
    = form_for :centre, url: centre_path(@centre), method: :patch do |f|

      %fieldset
        = f.label :name
        = f.text_field :name

      %fieldset
        = f.label :location
        = f.text_field :location

      %fieldset
        = f.label :description
        = f.text_area :description

      %fieldset
        %label
          = f.radio_button :status, 'active'
          Active centre
        %label
          = f.radio_button :status, 'inactive'
          Inactive centre
        %br
        %br

      %fieldset
        = f.label :key_contacts
        = f.text_area :key_contacts


      %fieldset
        = f.label :assistant_contacts
        = f.text_area :assistant_contacts

      %fieldset
        = f.label :medical
        = f.text_area :medical
        %br
        = f.label :medical_level
        = f.text_field :medical_level

      %fieldset
        = f.label :equiptment, 'Equipment'
        = f.text_area :equiptment
        %br
        = f.label :equiptment_level
        = f.text_field :equiptment_level


      %fieldset
        = f.label :people
        = f.text_area :people
        %br
        = f.label :people_level
        = f.text_field :people_level

      %fieldset
        = f.label :food
        = f.text_area :food
        %br
        = f.label :food_level
        = f.text_field :food_level

      %fieldset
        = f.label :other
        = f.text_area :other

      %br
      / = link_to 'Destroy', centre_path(@centre),
      /         method: :delete,
      /         data: { confirm: 'Are you sure?' }
      = f.submit
