<!DOCTYPE html>
<html>
<head>
  <title>EmergencyAssistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://file.myfontastic.com/594LEtWHkT8qvD2UeihGW4/icons.css" rel="stylesheet">

</head>
<body>
<%= render( :partial => 'layouts/header') %>
<%= yield %>

</body>
</html>
